*{
    box-sizing: border-box;
    font-family: $font-primary;
}
header{
    display: flex;
    flex-flow: column nowrap;
    margin: 0; padding: 2em 5em 4em; color: #efefef;
    overflow:hidden;
    position: relative;
    z-index: 1;
}

header::after{
      content:"";
      position:absolute;
      top:0;
      left:0;
      height: 100%;
      width:100%;
      transform: skewY(-6deg);
      background: #f28100;
      transform-origin: bottom left;
      z-index: -1;
}

header::before{
      content:"";
      position:absolute;
      top:0;
      left:0;
      height: 100%;
      width:100%;
      transform: skewY(10deg);
      background: #f28100;
      transform-origin: bottom right;
      z-index: -1;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:100px;
}

h2{
    font-size: 45px;
}

#inicio{
    padding:10px;
}

/*==========================================================================*/
.navbar{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    padding:0;
    background-color:rgba(255,255,255,0.2);
    color:#fff;
    transition: all 0.4s ease-in-out;
    z-index: 10;
}

.position{
    position:fixed;
    top:0;
    left:0;
    background-color: #f28100 !important;
}

.nav-link{
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.nav-item{
    font-size:15px;
    margin:auto;
    color:#fff;
}

.nav-item a{
    color:#fff;
}

.navbar i{
    font-size: 30px;
    color:#fff;
}

.navbar-brand img{
    height: 100px;
    padding:12px;
}

.event-logo{
    display: flex;
    align-items: center;
    position: relative;
    padding: 50px;
    margin-bottom: 70px;
}

.event-logo img{
    height: 280px;
}

.promo{
    padding:30px;
    margin-bottom: 20px;
}

.nav-link:hover{
    color: #432366 !important;

}

.nav-item .nav-link::after {
    top: 65%;
    height: 2px !important;
    width: 0.4%;
    left: 30%;
    background-color: #432366;
    margin-top: 2px;
    transition: 0.4s ease-out all .1s;
}

.nav-item:hover .nav-link::after {
    width: 90%;
    left: 5%;
    color: #432366;
    transition: 0.5s ease all;
}

.nav-link::after{
    content:"";
    position: absolute;
}

.header-sticky{
  background: #f28100;
  position: fixed;
  width: 100%;
  opacity: 0;
}

/*===================================================================*/
.hero{
    margin-top: -160px;
    background-color: #05A695;
    color:#fff;
    z-index: -1;
}

.hero h2{
    margin: 0;
    padding: 100px 0;
    font-size: 35px;
    text-align: center;
}

.hero p{
    font-size:20px;
    text-align: left;
}


.video{
    width:60% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    border: 4px solid #432366 !important;
}



/*====================================================================*/

// .enterprises::before{
//     content:"";
//     position: absolute;
//     height: 100%;
//     width: 100%;
//     background: #432366;
//     z-index:-1;
// }

.enterprises{
    z-index: 1;
}

.enterprises h2{
    margin: 30px 0 60px;
}

.container.gallery{
    padding:20px;
}

.col-md-3.space{

    margin-bottom:10px;
}

/*====================================================================*/

.speakers{
    padding: 80px 0;
    min-height: 350px;
    margin-bottom: 50px;
    background: #f7f7f7;
    z-index: 1;
}

.speakers h2{
    margin-bottom: 30px;
}

.speakers img{
    border-radius: 50%;
    height: 100px;
}

.speakers .col-lg-3{
    text-align: center;
}


/*====================================================================*/
.stands{
    background: #432366;
    color:#fff;
}

.stands h2{

    margin: 30px 0 60px;
    text-align: center;
}


.location-stands{
    text-align:center;
}

.location-stands img{
    margin-bottom: 10px;
    width:60%;
}

.saloon{
    margin: 20px 0 20px 0;
}

/*===================================================================*/

footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:60px;
    color:#fff;
    background-color: #414a4f;
}

footer ul{
    display:flex;
    margin-bottom:25px;
    font-size: 30px;
    list-style: none;
    padding:0;
}

footer ul li{
    margin:10px;
}

footer p{
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255,255,255,0.6);
    margin-bottom: 10px;
}

footer a{
    color:#fff;
}

footer a:hover{
    color:#f7f7f7;
}
/*====================================================================*/

@media (max-width: 700px){
    h2{
        font-size:30px;
    }
    .navbar-brand img{
        height: 60px;
    }
    .hero{
        margin-top: -120px;
    }
    .hero, .enterprises, .stands{
        padding:60px;
    }
    .event-logo img{
        height: 180px;
    }
    .stands{
        padding:0;
    }
    .location-stands img{
        width:100%;
    }
    .video{
        width: 100% !important;
    }
    // .enterprises{
    //     padding: 60px;
    // }
}
